.NewEmployee {
    width: 875px;
    height: 512px;
    background-color:rgb(203, 39, 127);
}
#Label1 {
    background-color: rgb(87, 250, 74);
    color: white;
    font-family:Algerian;
    padding-left:10px;
    padding-right:15px;
}
* {
    margin: 0;
    height: 8px;
}
body {
    margin-top: 45px;
    margin-left: 250px;
}
